<footer>
  <div class="wrapper">
    <div class="insta-container">
      <div class="col">
        <img src="/images/k.jpg" alt="photo of Kwench Culture" />
        <img src="/images/k2.jpg" alt="photo of Kwench Culture" />
      </div>
      <div class="col">
        <img src="/images/w.jpg" alt="photo of Kwench Culture" />
        <img src="/images/w2.jpg" alt="photo of Kwench Culture" />
      </div>
      <div class="col">
        <img src="/images/e.jpg" alt="photo of Kwench Culture" />
        <img src="/images/e2.jpg" alt="photo of Kwench Culture" />
      </div>
      <div class="col">
        <img src="/images/n.jpg" alt="photo of Kwench Culture" />
        <img src="/images/n2.jpg" alt="photo of Kwench Culture" />
      </div>
      <div class="col">
        <img src="/images/c.jpg" alt="photo of Kwench Culture" />
        <img src="/images/c2.jpg" alt="photo of Kwench Culture" />
      </div>
      <div class="col">
        <img src="/images/h.jpg" alt="photo of Kwench Culture" />
        <img src="/images/h2.jpg" alt="photo of Kwench Culture" />
      </div>
    </div>
    <p>&copy; 2019 KWENCH</p>
  </div>
</footer>
