<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/jxr5rgp.css">
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyClass }}" >
    <main data-content-field="main-content" id="siteWrapper">
      <header id="header" role="banner">
        <div class="wrapper header-inner">
          <a class="logo" href="clubkwench.com" target="_blank">
            <img src="/images/kwench-culture-club.png"
            srcset="/images/kwench-culture-club@2x.png 2x"
            alt="KWENCH logo" />
          </a>
          <div class="cta-container">
            <p class="countdown-container">
              Hurry, limited<br/>space left!
            </p>
            <a href="#contact" class="btn">Apply</a>
          </div>
        </div>
      </header>
      {{ content | safe }}
      {% include "footer.njk" %}
    </main>
  </body>
</html>



