<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/jxr5rgp.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>

    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>KWENCH Coworking Space and Culture Club in Victoria, B.C</title>
    <!-- Search Engine -->
    <meta name="description" content="KWENCH is leading the coworking evolution by providing flexible work space, offices, fitness facilities, creative studios, learning, and food in Victoria, B.C">
    <meta name="image" content="/images/share-img.jpg">
    <meta name="keywords" content="office, office space, coworking, coworking in Victoria, B.C, coworking space near me, boardroom, boardrooms, book a boardroom, meeting room, event space rental, shared desk, corporate culture, workplace culture, workshops, remote work, commercial space, events in Victoria, B.C, pop-up, creative studio, fitness, food, restaurant, art, arts and culture, design, graphic design in Victoria, B.C, entrepreneur, entrepreneurship, freelancer, freelance work, freelance work space, technology, tech in Victoria, B.C, tech companies in Victoria, B.C, start-up, incubator, tech start-up, small business, career building">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="KWENCH Coworking Space and Culture Club in Victoria, B.C">
    <meta itemprop="description" content="KWENCH is leading the coworking evolution by providing flexible work space, offices, fitness facilities, creative studios, learning, and food in Victoria, B.C">
    <meta itemprop="image" content="/images/share-img.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="KWENCH Coworking Space and Culture Club in Victoria, B.C">
    <meta name="og:description" content="KWENCH is leading the coworking evolution by providing flexible work space, offices, fitness facilities, creative studios, learning, and food in Victoria, B.C">
    <meta name="og:image" content="/images/logo.jpg">
    <meta name="og:url" content="www.kwench.com">
    <meta name="og:site_name" content="KWENCH Coworking Space and Culture Club in Victoria, B.C">
    <meta name="og:locale" content="en_CA">
    <meta name="fb:admins" content="632423890162312">
    <meta name="fb:app_id" content="395644617909424">
    <meta name="og:type" content="website">

  </head>
  <body class="{{ bodyClass }}" >
    <main data-content-field="main-content" id="siteWrapper">
      <header id="header" role="banner">
        <div class="wrapper header-inner">
          <a class="logo" href="clubkwench.com" target="_blank">
            <img src="/images/kwench-culture-club.png"
            srcset="/images/kwench-culture-club@2x.png 2x"
            alt="KWENCH logo" />
          </a>
          <div class="cta-container">
            <p class="countdown-container">
              Hurry. Space <br />is limited!
            </p>
            <a href="#contact" class="btn">Apply</a>
          </div>
        </div>
      </header>
      {{ content | safe }}
      {% include "footer.njk" %}
    </main>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="/js/script-out.js" type="text/javascript" async> </script>
  </body>
</html>



